 /* Este es un css para ir haciendo pruebas sobre mi aprendizaje*/

/* Estilos para el cuerpo del documento */

* {
  margin: 0;
  padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    background-color: red;
    color: white;
    margin: 0;
    padding: 0;
  }

  /* Estilos para encabezados h1 */
  h1 {
    color: yellow;
    text-align: center;
    padding: 0px;
  }

  h2 {
    color: yellow;
    text-align: left;
    padding: 10px;
  }

  h3 {
    color: yellow;
    text-align: left;
    padding: 20px;
  }

  h4 {
    color: yellow;
    text-align: left;
    padding: 30px;
  }
  
  h5 {
    color: yellow;
    text-align: left;
    padding: 40px;
  }

  h6 {
    color: yellow;
    text-align: left;
    padding: 50px;
  }

  img {
    padding-top: 1em;
    width: 15%;
  }

  nav {
    border: #ffc107;
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: green;

  }

  nav a {
    font-size: 30px;
    color: white;
    padding: 0.5em;
    text-decoration: none;
    display: inline-block;
  }

  nav a:hover {
    color: rgb(243, 150, 11);

  }

  section {
    background-color: aquamarine;
    height: auto;
    width: 60%;
  }

  article {
    border: 1px solid #CCC;
  }

  /* Estilos para párrafos */
  p {
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
    padding: 0 20px;
  }
  
  /* Estilos para enlaces */
  a {
    color: yellow;
  }
  
  a:hover {
    border-radius: 50% solid;
    text-decoration: none;
    color:yellowgreen;
  }
  
  footer {
    text-align: right;
    color:yellow;
    font-weight: bold;
    padding: 30px;
  }

  /* Estilos para una clase específica */
  .mi-clase {
    font-weight: bold;
  }
  
  /* Estilos para un elemento específico con ID */
  #mi-elemento {
    background-color: #ffc107;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Estilos para una lista no ordenada */
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Estilos para elementos de la lista no ordenada */
  li {
    margin-bottom: 5px;
  }
  
  /* Estilos para una clase dentro de un elemento */
  ul.mi-lista {
    color: #ff5722;
  }
  
  /* Estilos para elementos dentro de un elemento con ID */
  #mi-elemento p {
    font-style: italic;
  }
  