 /* Este es un css para ir haciendo pruebas sobre mi aprendizaje*/

/* Estilos para el cuerpo del documento */
body {
    font-family: Arial, sans-serif;
    background-color: gray;
    color: white;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para encabezados h1 */
  h1 {
    color: yellow;
    text-align: center;
    padding: 20px;
  }
  
  /* Estilos para párrafos */
  p {
    color: #666;
    line-height: 1.6;
    margin: 10px 0;
    padding: 0 20px;
  }
  
  /* Estilos para enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para una clase específica */
  .mi-clase {
    font-weight: bold;
  }
  
  /* Estilos para un elemento específico con ID */
  #mi-elemento {
    background-color: #ffc107;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Estilos para una lista no ordenada */
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Estilos para elementos de la lista no ordenada */
  li {
    margin-bottom: 5px;
  }
  
  /* Estilos para una clase dentro de un elemento */
  ul.mi-lista {
    color: #ff5722;
  }
  
  /* Estilos para elementos dentro de un elemento con ID */
  #mi-elemento p {
    font-style: italic;
  }
  